<div  class="back-ground"></div>
   <div>
    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand newcolor" href="#">Talent Acquisition</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</div>
<div class="container-fluid">
    
</div>
                <div class="loginmodal-container">
                    <h1>Login to Your Account</h1><br>
                  <form ng-submit="login(user)">
                    <input type="text" name="user" placeholder="Username" ng-model="user.username">
                    <input type="password" name="pass" placeholder="Password" ng-model="user.password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
                    
                  <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                  </div>
                </div>
           


 <div class="fixed-footer login">
        <div class="container-fluid">Copyright &copy; 2018 Gspann</div>        
    </div>


     
    
 